@font-face {
    font-family: "Kanit-Regular";
    src: url('../font/Kanit-Regular.eot');
    src: url("../font/Kanit-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Kanit-Regular.svg#Lack-Regular") format("svg"),
    url("../font/Kanit-Regular.ttf") format("truetype"),
    url("../font/Kanit-Regular.woff") format("woff"),
    url("../font/Kanit-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Kanit-Regular";
    font-size: 18px;
    line-height: 28px;
    color: rgba(255,255,255,1);
    text-decoration: none;
    outline-color: none;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
body {
    margin: 0;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust: 100%;
    /*padding-bottom: 200vh;*/
    background: #00050F;
    /*dont use overflow hidden to body*/
}
ul,li,p,img,h1,h2,h3,h4,h5,h6,input,button,nav {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}
input , textarea {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
.font-20{
    font-size: 20px;
    line-height: 30px;
}
.font-12{
    font-size: 12px;
    line-height: 20px;
}
.font-72{
    font-size: 72px;
    line-height: 80px;
    color: #fff;
}
.container{
    width: 100%;
    max-width: 1920px;
    padding: 0px 80px;
    margin: 0px auto;
    display: flex;
    position: relative;
    z-index: 5;
}
.dg.ac{
    display: none;
}
.roadmap-hepler__outer{
    display: flex;
    width: 160px;
    height: 75px;
    position: relative;
}
.roadmap-hepler__drag-ttl{
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}
.roadmap-hepler__drag{
    position: relative;
}
.roadmap-hepler__drag-line{
    width: 160px;
    height: 1px;
    background: #fff;
}
.roadmap-hepler{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .6s cubic-bezier(.79,.01,.15,.99);
    opacity: 0;
}
.roadmap-hepler.active{
    opacity: 1;
    transition-delay: .6s;
}
.roadmap-hepler__drag svg{
    height: 40px;
    width: 40px;
    margin-top: -20px;
}
.roadmap-hepler__drag-icon{
    animation-name: swinging;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
.roadmap-hepler__click-icon{
    animation-name: clickin;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
.roadmap-hepler__scrollup-icon{
    animation-name: scrollin;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes clickin{
    0%{transform: scale(1) }
    100%{transform: scale(.8) }
}
@keyframes swinging{
    0%{transform: translate3d(-15px, 0, 0) }
    100%{transform: translate3d(15px, 0, 0) }
}
@keyframes scrollin{
    0%{transform: translate3d(0, -5px, 0) }
    100%{transform: translate3d(0, 5px, 0) }
}
.roadmap-hepler__container{
    position: fixed;
    bottom: 30px;
    width: 100%;
    left: 0px;
    justify-content: center;
    z-index: 10;
    display: flex;
    transition: .6s cubic-bezier(.79,.01,.15,.99);
    pointer-events: none;
}
/*Ipad 768*/
@media (max-width: 1023px){
    .container{
        padding: 0px 40px;
    }
    .roadmap-hepler__container{
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        align-items: center;
    }
    .roadmap-hepler__container.active{
        background: rgba(0,5,15,.5);
    }
}
/*Mobile 320*/
@media (max-width: 767px){
    .container{
        padding: 0px 15px;
    }
}
